.container {
    position: absolute;
    background-color: white;
    bottom: -65px;
    right: 40px;
    border-radius: 2.5px;
    box-shadow: 0 1px 1.5px rgba(0,0,0,0.25);
    z-index: 1;
}

.container .svg {
    width: 15px;
    fill: rgb(51,51,51);
}

.container p {
    color: rgb(51,51,51);
    margin: 10px;
}

.container section {
    display: flex;
    gap: 8.5px;
    padding: 0 15px;
}

.container section:hover {
    background-color: white;
    filter: brightness(0.95);
}

.container .section1 {
    border-radius: 2.5px 2.5px 0 0;
}

.container .section2 {
    border-radius: 0 0 2.5px 2.5px;
}